<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">

        <div class="container">

            <div class="row  justify-content-center">
                <div class="col-lg-6">
                    <h3>Subscribe</h3>
                    <p>Let's keep you up to date with everything happening at StartupCamp</p>
                </div>
            </div>

            <div class="row footer-newsletter justify-content-center">
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div class="social-links">
                <a href="https://twitter.com/startupcamp_ng" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/startupcamp_ng/" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>

        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>StartupCamp</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by StartupCamp
        </div>
    </div>
</footer>
<!-- End Footer -->