<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Learning Community for Startups</h1>
                <h2>
                    We help early-stage startups to develop their business ideas into viable ventures
                </h2>
                <div class="d-flex">
                    <a href="/apply" class="btn-get-started scrollto">Apply Now</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/img/about.png" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Turning smart ideas into sustainable businesses</h3>
                    <p>
                        We offer formal and informal learning opportunities and connect entrepreneurs to an ecosystem of related services. Our specific focus is given to entrepreneurs creating innovative and sustainable solutions to local challenges and contributing to the United
                        Nations Sustainable Development Goals.
                    </p>
                    <p>
                        Through our programmes, we aim to build their skills and confidence and provide them with opportunities and networks that go beyond national borders.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Services</h2>
                <p>We provide startups with the following forms of support</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Business Training</a></h4>
                        <p>
                            Professionals will be at hand, providing you with resources to help grow your business.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Mentorship and Coaching</a></h4>
                        <p>
                            You will receive access to a mentor or coach to help guide you through your journey.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Seminars and Workshops</a></h4>
                        <p>
                            Learn about different topics concerning how to run a business from our expert partners.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Bootcamps</a></h4>
                        <p>
                            In collaboration with the British Council we organize special bootcamps for entrepreneurs.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">A Vibrant Community</a></h4>
                        <p>
                            A network of likeminded, in-house incubatees who can share experiences and motivation.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Networking Events</a></h4>
                        <p>
                            Create meaningful business relations that can help you grow your business in the future.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">
            <div class="text-center">
                <h3>Join Our Community</h3>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <p>
                            We help fuel the right startups leading to innovation. Our long term goal is to be the most prolific supporter of impact across Africa. Join us now.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <a class="cta-btn" href="/apply">Apply Now</a>
            </div>
        </div>
    </section>
    <!-- End Cta Section -->
</main>
<!-- End #main -->